rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Jeder User darf nur seine eigenen Daten lesen und schreiben
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

  }
}
